In [74]:
import pandas as pd
import plotly.plotly as py
import plotly.offline as offline
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import plotly.graph_objs as go

### Read datasets

In [75]:
flow = pd.read_csv("/Users/sergiers/Desktop/CLASE/BDMA/TUe/Capita_selecta/waterschap-aa-en-maas_sewage/sewer_data/PUMPdata_pump_aarle-rixtel_flow-level_1.5years/flow/carpeta sin título/4110/GBS_AR.RG4110_Instellingen_FT510_Debietmeting.Q.csv", delimiter=";", decimal=",", dtype={'level': float, 'flow': float})
level = pd.read_csv("/Users/sergiers/Desktop/CLASE/BDMA/TUe/Capita_selecta/waterschap-aa-en-maas_sewage/sewer_data/PUMPdata_pump_aarle-rixtel_flow-level_1.5years/flow/carpeta sin título/4110/GBS_AR.RG4110_Instellingen_LT610_Niveaumeting.Q.csv", delimiter=";", decimal=",", dtype={'level': float, 'flow': float})
rain = pd.read_csv("/Users/sergiers/Desktop/CLASE/BDMA/TUe/Capita_selecta/waterschap-aa-en-maas_sewage/sewer_data/PUMPdata_pump_aarle-rixtel_flow-level_1.5years/flow/carpeta sin título/4110/4110-Lieshout.csv", delimiter=";", decimal=",", dtype={'level': float, 'flow': float})

In [76]:
#Preprocess:
#Flow:
flow["TimeStamp"] = pd.to_datetime(flow['TimeStamp'], format='%d-%m-%Y %H:%M:%S')
flow.index = flow["TimeStamp"]
flow["flow"] = flow["Value"]
flow = flow[["flow"]]

#level:
level["TimeStamp"] = pd.to_datetime(level['TimeStamp'], format='%d-%m-%Y %H:%M:%S')
level.index = level["TimeStamp"]
level["level"] = level["Value"]
level = level[["level"]]

#Rain:
rain["Eind"] = pd.to_datetime(rain['Eind'], format='%d.%m.%y %H:%M')
rain.index = rain["Eind"]
rain = rain[["VOLUME", "WET"]]

### Resample data:

In [77]:
level = level.resample('60T').mean()
flow = flow.resample('60T').mean()

### Join Datasets

In [78]:
#Inner join Datasets
flowlevel = flow.join(level, how='inner')
dataset = flowlevel.join(rain, how='inner')

### Fix Dataset:

In [79]:
# Remove NaN?
dataset = dataset.dropna()

In [80]:
#Fill NaN with Mean?
#dataset = dataset.fillna(flow.mean())

In [81]:
# Remove Zeros?
dataset = dataset[dataset["flow"] != 0]
dataset = dataset[dataset["level"] != 0]

### Data info:

In [84]:
dataset.count()

flow      6391
level     6391
VOLUME    6391
WET       6391
dtype: int64

In [85]:
dataset.head(1)

                 flow      level  VOLUME  WET
2017-08-07  154.00249  12.052341     0.0    0

In [86]:
dataset.tail(1)

                           flow      level  VOLUME  WET
2018-08-06 23:00:00  138.631828  11.568146     0.0    0

### Print in chart:

In [82]:
flowdata = go.Scatter(
          x=dataset.index,
          y=dataset['flow'],
          name='flow')

leveldata = go.Scatter(
          x=dataset.index,
          y=dataset['level'],
          name='Level',
          yaxis='y2')

raindata = go.Scatter(
          x=dataset.index,
          y=dataset['VOLUME'],
          name='Rain',
          yaxis='y3')

In [13]:
dataset.to_csv("data.csv", sep=',')